# Gradle files
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration files
local.properties
.idea/
*.iml
*.ipr
*.iws

# Log & cache
*.log
*.cache
*.class

# Android Studio-specific
/.idea/
/*.iml
/.cxx/
/captures/
/.externalNativeBuild

# OS-specific files
.DS_Store
Thumbs.db

# Keystore (if present)
*.jks

# Signing info (security!)
**/keystore.properties
